patientXMLProj/Book.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.example.org/Book"
		xmlns:tns="http://www.example.org/Book" 
		elementFormDefault="qualified">

	<complexType name="Book">
		<sequence>
			<element name="name" type="string" />
			<element name="author" type="string" />
			<element name="pages" type="int" />
			<element name="free" type="boolean" />
		</sequence>
	</complexType>

	<element name="book" type="tns:Book"></element>
	
</schema>

